<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="polygon.css">
  <link rel="shortcut icon" href="dawkey.ico" type="image/x-icon"/>
  <script type="text/javascript" src="TweenMax.min.js"></script>
  <script type="text/javascript" src="vue.min.js"></script>
  <script type="text/javascript" src="polygon.js"></script>
  <title>polygon</title>
</head>
<body>

  <div id="app">
    <div class="polygon">
      <svg :width="width" :height="height">
        <polygon :points="points"></polygon>
        <circle :cx="cx" :cy="cy" :r="r"></circle>
      </svg>
    </div>
    <label>radius-num: {{radius_num}}</label>
    <input type="range" min="3" max="500" v-model="radius_num">
    <label>min-radius: {{min_radius}}%</label>
    <input type="range" min="0" max="90" v-model="min_radius">
    <label>interval-time: {{interval_time}}ms</label>
    <input type="range" min="10" max="2000" v-model="interval_time">
  </div>

</body>
</html>
